body {
    
}
.foodCard {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;


    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}